body {
    background-color: #F5F5F5;
}

.logo__green {
    background-color: #09A603;
}

.logo__yellow {
    background-color: #FAE14B;
}

.logo {
    display: flex;
    align-items: flex-end;
}

.logo > h1 {
    margin-right: 12px;
}

.authorization-form {
    margin: 0 auto;
    width: 800px;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #F5F5F5;
   border-radius: 5px;
    margin-top: 200px;
    box-shadow: -15px -15px 30px #FFFFFF, 15px 15px 30px #D0D0D0;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;

}


header {
    margin-bottom: 40px;
    box-shadow: -4px -4px 15px #FFFFFF, 4px 4px 12px #D0D0D0;
}

.info__user,
.info {
    display: flex;
}

.info__user {
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-right: 10px;
    background-image: url('/static/img/valera.jpg');
    background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.user-name {
    margin-right: 10px;
}

.logout {
    background: #F2790F;
    margin: 8px;
    border-radius: 10px;
}
/*Main*/

.main-account,
.main-menu,
.analyse {
    background: #F5F5F5;
    box-shadow: -15px -15px 30px #FFFFFF, 15px 15px 30px #D0D0D0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.analyse__big {
    background: #F5F5F5;
    /*box-shadow: -20px -20px 60px #FFFFFF, 20px 20px 60px rgba(174, 174, 192, 0.4);*/
    /*border-radius: 25px;*/
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.analyse__shadow {
    box-shadow: -20px -20px 60px #FFFFFF, 20px 20px 60px rgba(174, 174, 192, 0.4);
    border-radius: 25px;
}

.main-account > .actions-trans {
    margin: 10px auto;
}


.main-account__header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #F2790F;
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-account__balance {
    text-align: left;
    font-size: 24px;
}

.main-balance {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.main-account__actions {
    text-align: left;
    font-size: 24px;
    padding-top: 10px;
}

.menu__item {
    border: 2px solid #D0D0D0;
    border-radius: 25px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.menu__addItem {
    width: 40px;
    height: 40px;
    background-image: url('/static/img/add_circle.png');
    background-size: cover;
    cursor: pointer;
    background-color: none;
    margin-right: 12px;
}

.menu__myAccounts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    border-bottom: 2px solid #F2790F;
}

.currency{
    color: green;
    font-weight: bold;
    font-size: 14px;
}

.addItem-header {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.open-content {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease max-height;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.open-content--show {
    max-height: 1000px;
}

.bank-account__logo {
    width: 78px;
    height: 78px;
    margin-right: 10px;
    border-radius: 20px;
}

.bank-account__info {
    display: flex;
    align-items: center;
    position: relative;
}

.bank-account-btn {
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('/static/img/arrow_down.png');
    background-size: cover;
    cursor: pointer;
}

.bank-account-bankName {
    font-size: 32px;
}

.analyse {
    cursor: pointer;
}

.analyse__header {
    font-size: 32px;
    text-align: center;
    border-bottom: 2px solid #F2790F;
}

.analyse__click {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.dashboard__header {
    font-size: 24px;
    text-align: left;
}

.dashboard__graph {
    background-image: url(/static/img/dashbord.png);
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-right: 20px;
}

.dashboard__wrapper {
    display: flex;
}

.dashboard__link {
    display: flex;
}

.dashboard__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dshb__link-color {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.dshb__link-color1 {
    background-color: #FFFF66;
}

.dshb__link-color2 {
    background-color: #FF6633;
}

.dshb__link-color3 {
    background-color: #33CCFF;
}

.dshb__link-color4 {
    background-color: #CC66FF;
}

.analyse__color1{
    background-color: rgba(255, 255, 102, .8);
}

.analyse__color2{
    background-color: rgba(255, 102, 51, .8)
}

.analyse__color3{
    background-color: rgba(51, 204, 255, .8);
}

.analyse__color4{
    background-color: rgba(204, 102, 255, .8);
}


/*adminAccount*/

.account-block {
    margin: 0 auto;
    width: 800px;
    border-radius: 25px;
    background-color: #F0F0F3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -15px -15px 30px #FFFFFF, 15px 15px 30px #D0D0D0;
}

.account__info {
    display: flex;
    border-bottom: 2px solid #F2790F;
}

.account__logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.account__info_inside {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.account-name {
    font-size: 28px;
}

.account-balance {
    font-size: 24px;
}

.account__actions {
    display: flex;
    flex-direction: column;
}

.acctions {
    display: flex;
    flex-direction: column; 
    margin-left: 10px;
}

.actions-header {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.information-item-header {
    text-decoration: underline;
    margin-left: 10px;
}

.information-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.actions-del,
.actions-trans {
    width: 200px;
    margin-bottom: 10px;
    background: #09A603;
    border-radius: 25px;
}

.actions-del{
    background: #F2790F;
}

/*Transactions*/

.transactions__wrapper {
    background: #F5F5F5;
    box-shadow: -15px -15px 30px #FFFFFF, 15px 15px 60px #D0D0D0;
    border-radius: 25px;
    width: 450px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.transactions__header {
    font-size: 32px;
    margin-bottom: 5px;
}

.transactions__block {
    margin-bottom: 15px;
}

.transactions__label {
    font-size: 24px;
    margin-bottom: 5px;
}

.select__name {
    width: 200px;
}

.transactions__inp {
    width: 100%;
    border-radius: 15px;
    height: 46px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 18px;
}

.transactions_btn {
    width: 100%;
    border-radius: 15px;
    height: 46px;
}

.transactions__inp:active, .transactions__inp:hover, .transactions__inp:focus {
    outline: 0;
    outline-offset: 0;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}