body {
    background-color: #F5F5F5;
}

.authorization-form {
    margin: 0 auto;
    width: 800px;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #F0F0F3;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 5px;
    margin-top: 200px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.info__user,
.info {
    display: flex;
}

.info__user {
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
}

/*Main*/

.main-account,
.main-menu,
.analyse {
    background: #F5F5F5;
    box-shadow: -20px -20px 60px #FFFFFF, 20px 20px 60px rgba(174, 174, 192, 0.4);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.main-account>.actions-trans {
    margin: 10px auto;
}


.main-account__header {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.main-account__balance {
    text-align: center;
    font-size: 20px;
}

.main-balance {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.main-account__actions {
    text-align: center;
    border-top: 2px solid black;
    font-size: 18px;
    padding-top: 10px;
}

.menu__item {
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.menu__addItem {
    width: 40px;
    height: 40px;
    background-image: url('/finnopolis-case/frontend/static/img/add_circle.png');
    background-size: cover;
    cursor: pointer;
    background-color: none;
}

.menu__myAccounts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.addItem-header {
    font-size: 32px;
}

.open-content {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease max-height;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 20px;
}

.open-content--show {
    max-height: 300px;
}

.bank-account__logo {
    width: 78px;
    height: 78px;
    background-color: black;
    margin-right: 10px;
}

.bank-account__info {
    display: flex;
    align-items: center;
    position: relative;
}

.bank-account-btn {
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('/finnopolis-case/frontend/static/img/arrow_down.png');
    background-size: cover;
    cursor: pointer;
}

.bank-account-bankName {
    font-size: 32px;
}

/*adminAccount*/

.account-block {
    margin: 0 auto;
    width: 800px;
    border-radius: 40px;
    background-color: #F0F0F3;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.account__info {
    display: flex;
}

.account__logo {
    width: 70px;
    height: 70px;
    background-color: black;
    margin-right: 10px;
}

.account__info_inside {
    display: flex;
    flex-direction: column;
}

.account-name {
    font-size: 28px;
}

.account__actions {
    display: flex;
    flex-direction: column;
}

.actions-header {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.information-item-header {
    text-decoration: underline;
}

.information-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.actions-del,
.actions-trans {
    width: 150px;
    margin-bottom: 10px;
}